<% restaurant = Restaurant.find(@menu_item.restaurant_id) %>
<!-- begin left column on page -->
<div id="food-data">
    <div class="food-data-box">
        <!-- todo: make this part cooler, i.e. different colored background or "award" icon -->
        <h1>Top Picture</h1>

        <!-- todo: grab the review with the most ratings, and place data from it here -->
        <div class="big-menuitem-image">
            <!-- todo: post a picture here -->
            stub for 350x250 picture
        </div>
        <div class="review-info">
            <%= link_to @menu_item.name, menu_item_path(@menu_item) %> at
            <%= link_to restaurant.name, restaurant_path(restaurant) %><br/>
            <!-- todo: link this to a profile view -->
            by <a href="profile.html">nadine</a><br/>
            <!-- todo: get the date that the rating was uploaded -->
            <span class="rating-date"><strong>Date Taken:</strong> March 3, 2001</span><br/>
            <!-- todo: get the rating of the picture dynamically -->
            <span class="picture-rating"><strong>Picture Rating:</strong> 5 stars</span><br/>
            <p class="desc">
                <!-- todo: get the description of this rating -->
                These burritos are the size of small children and just as delicious!
            </p>
        </div>
    </div>


    <div class="food-data-box">
        <!-- todo: get the most recently uploaded review -->
        <h1>Most Recent Picture</h1>

        <div class="big-menuitem-image">
            <!-- todo: post a picture here -->
            stub for 350x250 picture
        </div>
        <div class="review-info">
            <%= link_to @menu_item.name, menu_item_path(@menu_item) %> at
            <%= link_to restaurant.name, restaurant_path(restaurant) %><br/>
            <!-- todo: link this to a profile view -->
            by <a href="profile.html">nadine</a><br/>
            <!-- todo: get the date that the rating was uploaded -->
            <span class="rating-date"><strong>Date Taken:</strong> March 3, 2001</span><br/>
            <!-- todo: get the rating of the picture dynamically -->
            <span class="picture-rating"><strong>Picture Rating:</strong> 5 stars</span><br/>
            <p class="desc">
                <!-- todo: get the description of this rating -->
                These burritos are the size of small children and just as delicious!
            </p>
        </div>
    </div>
</div>
<!-- end left column on page -->

<!-- begin right column on page -->
<div id="content">
    <p id="notice"><%= notice %></p>
    <!-- todo: make this button lead to the "upload to this menu item" page -->
    <div class="button">Upload your own picture of <%= @menu_item.name %>?</div>
    <h1><%= link_to @menu_item.name, menu_item_path(@menu_item) %> at
        <%= link_to restaurant.name, restaurant_path(restaurant) %></h1>

    <table id="info">
        <tr>
            <td>Price</td>
            <td>$<%= @menu_item.price %></td>
        </tr>
        <tr>
            <!-- todo: link to a list of all users who put a star rating on this menuitem (?) -->
            <td>Average Rating</td>
            <td>3.5 stars (voted on by <a href="">16 people</a>)</td>
        </tr>
        <tr>
            <!-- todo: get the tags for this menu item? -->
            <td>Details</td>
            <td><a href="">Mexican</a>, <a href="">lunch</a>, <a href="">dinner</a></td>
        </tr>
        <tr>
            <!-- todo: get the most common words said about menu items for this restaurant -->
            <td>Common phrases</td>
            <td><a href="">delicious</a>, <a href="">huge</a>, <a href="">omg</a></td>
        </tr>
    </table>

    <div id="ratings">
        <!-- todo: place the most highly rated pictures of this item here -->
        <h1>Top 4 pictures of <%= @menu_item.name %> at <%= restaurant.name %></h1>
        <!-- todo: when a sorting option is pressed, sort the ratings -->
        <ul id="sort-options">
            <li>Most recent</li>
            <li>Most popular</li>
            <!-- todo (?): i.e. "show me desserts"...this could also be a dropdown -->
            <li>Type</li>
        </ul>
        <div class="ratings-list">
            <div class="rating-item">
                <div class="small-menuitem-image">stub for 130x110 picture </div>
                by <a href="profile">nadine</a>
                ***** <!-- rating for picture?  for food? -->
            </div>
            <div class="rating-item">
                <div class="small-menuitem-image">stub for 130x110 picture </div>
                by <a href="profile">nadine</a>
                ***** <!-- rating for picture?  for food? -->
            </div>
            <div class="rating-item">
                <div class="small-menuitem-image">stub for 130x110 picture </div>
                by <a href="profile">nadine</a>
                ***** <!-- rating for picture?  for food? -->
            </div>
            <div class="rating-item">
                <div class="small-menuitem-image">stub for 130x110 picture </div>
                by <a href="profile">nadine</a>
                ***** <!-- rating for picture?  for food? -->
            </div>
        </div>
        <!-- todo: find the number of pictures total for this menu item
                   make this link to a page which contains all pictures of the menu item,
                      or load all the pictures here -->
        <a href="">See all pictures (83)</a>
    </div>

    <div id="content-footer">
        <p><%= link_to 'Back to ' + restaurant.name, restaurant_path(restaurant) %></p>

        <span class="note">
            <!-- todo: make a page which will allow users to report categorization errors -->
            Is this menu item misnamed or misplaced?  <a href="">Let us know!</a>
        </span>
    </div>
</div>
<!-- end right column on page -->
