<!-- restaurant index is the front page of seedfood -->
<%  # right now this page uses the first restaurant,
    # and that restaurant's first menu item
    # todo: fix this.  it'll break if there are no menu items or no restaurants
    @restaurant = Restaurant.all[0]
    @menu_item = @restaurant.menu_items[0] %>


<!-- begin left column on page -->
<div id="food-data">
    <div class="food-data-box">
        <!-- todo: grab a random menu_item from within the user-given area,
            display the most popular picture of that menu_item
            and other data -->
        <!-- todo: update this with whatever the user put into the location -->
        <h1>Random Food near Seattle, WA</h1>
        <div class="big-menuitem-image">
            <!-- todo: post a picture here -->
            stub for 350x250 picture
        </div>
        <div class="review-info">
            <%= link_to @menu_item.name, menu_item_path(@menu_item) %> at
            <%= link_to @restaurant.name, restaurant_path(@restaurant) %><br/>
            <!-- todo: link this to a profile view -->
            by <a href="profile.html">nadine</a><br/>
            <!-- todo: get the date that the rating was uploaded -->
            <span class="rating-date"><strong>Date Taken:</strong> March 3, 2001</span><br/>
            <!-- todo: get the rating of the picture dynamically -->
            <span class="picture-rating"><strong>Picture Rating:</strong> 5 stars</span><br/>
            <p class="desc">
                <!-- todo: get the description of this rating -->
                These burritos are the size of small children and just as delicious!
            </p>
        </div>
    </div>
    
    <div class="food-data-box">
        <!-- todo: get the most recently uploaded review, in this area -->
        <h1>Most Recent Picture</h1>
        <div class="big-menuitem-image">
            stub for 350x250 picture
        </div>
        <div class="review-info">
            <%= link_to @menu_item.name, menu_item_path(@menu_item) %> at
            <%= link_to @restaurant.name, restaurant_path(@restaurant) %><br/>
            by <a href="profile.html">nadine</a><br/>
            <!-- todo: get the average of what users have rated this picture) -->
            <span class="rating-date"><strong>Date Taken:</strong> March 3, 2001</span><br/>
            <!-- todo: get the rating of the picture dynamically -->
            <span class="picture-rating"><strong>Picture Rating:</strong> 5 stars</span><br/>
            <p class="desc">
                <!-- todo: get the description of this rating -->
                These burritos are the size of small children and just as delicious!
            </p>
        </div>
    </div>
</div>
<!-- end left column on page -->


<!-- begin right column on page -->
<div id="content">
    <p id="notice"><%= notice %></p>

    <table>
      <tr>
        <th>Restaurant</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    <% Restaurant.all.each do |restaurant| %>    
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Delete', restaurant, :confirm => "Are you sure you want to delete this restaurant and all associated menu items and reviews?", :method => :delete %></td>
      </tr>
    <% end %>
</div>
<!-- end right column on page -->
