<!-- begin left column on page -->
<div id="food-data">
  <% if @has_menu_items %>
  <!-- todo: make ~*TOP MENU ITEM*~ cooler, i.e. different colored background or "award" icon -->
  <%= render :partial => "layouts/databox",
             :locals => { :title => "Top Menu Item",
                          :menu_item => @top_menu_item,
                          :review => @top_menu_item_best_review,
                          :restaurant => @restaurant } %>
        
  <%= render :partial => "layouts/databox",
             :locals => { :title => "Most Recent Menu Item",
                          :menu_item => @recent_menu_item,
                          :review => @recent_menu_item_best_review,
                          :restaurant => @restaurant } %>

    <% else %>
      <!-- todo: put some picture or something here to encourage contribution to this restaurant -->
    <% end %>
</div>
<!-- end left column on page -->


<!-- begin right column on page -->
<div id="content">
  <p id="notice"><%= notice %></p>
  <!-- todo: make this button nicer -->
  <div class="button"><%= link_to "Upload your own picture to "+@restaurant.name+"?", new_menu_item_path(@restaurant)%></div>
  <h1><%= link_to @restaurant.name, @restaurant %></h1>
  <h2> at <%= @restaurant.address %></h2>

  <table id="info">
    <% if @has_menu_items %>
      <tr>
        <!-- todo: get the first contributor to this restaurant
        (the one who added this restaurant to the database,
         or the first person to add a picture) -->
        <td>First Contributor</td>
        <td>nadine (contributed <%= link_to @top_menu_item.name, menu_item_path(@top_menu_item) %>)</td>
      </tr>
      <tr>
        <td>Number of Menu Items on Seefood:</td>
        <td><%= @restaurant.menu_items.count %></td>
      </tr>
      <tr>
        <!-- todo: count of unique contributors to this restaurant -->
        <td>Number of contributors to <%= @restaurant.name %></td>
        <td>1</td>
      </tr>
      <tr>
        <td>Number of Reviews</td>
        <td><%= @restaurant.menu_items.map{|m| m.reviews.count}.sum %></td>
      </tr>

      <tr>
        <td>Average Price of Menu Items on Seefood</td>
        <td>$<%= "%.2f" % (@restaurant.menu_items.map{|m| m.price}.sum/@restaurant.menu_items.count) %></td>
      </tr>
      <tr>
        <!-- todo: link to a list of all users who put a star rating on this restaurant -->
        <td>Average Rating</td>
        <% @sum_stars = 0
           @restaurant.menu_items.map{|m| for r in m.reviews do @sum_stars += r.stars end } %>
        <td><%= "%.2f" % (@sum_stars / @restaurant.menu_items.count ) %> (based on <a href=""><% @restaurant.menu_items.count %> reviews</a>)</td>
      </tr>
      <tr>
        <!-- todo: get the tags for this restaurant? -->
        <td>Details</td>
        <td><a href="">Mexican</a>, <a href="">lunch</a>, <a href="">dinner</a></td>
      </tr>
      <tr>
        <!-- todo: get the most common words said about menu items for this restaurant? -->
        <td>Common phrases</td>
        <td><a href="">delicious</a>, <a href="">huge</a>, <a href="">cheap</a></td>
      </tr>
    <% else %>
      <tr>
        <td>First Contributor</td>
        <td>None!  <%= link_to "Be the first!", new_menu_item_path(@restaurant) %></td>
      </tr>
    <% end %>

  </table>

  <% if @has_menu_items %>
    <div id="visual-menu">
      <h1>Menu Items at <%= @restaurant.name %></h1>
      <!-- todo: when a sorting option is pressed, sort the ratings -->
      <ul id="sort-options">
        <li>Most recent</li>
        <li>Most popular</li>
        <!-- todo (?): i.e. "show me desserts"...this could also be a dropdown -->
        <li>Type</li>
      </ul>

      <!-- todo: grab the most popular picture of each unique menu item at this restaurant -->
      <% @restaurant.menu_items.each do |menu_item| %>
        <div class="review-item">
          <div class="small-menuitem-image"><%= image_tag menu_item.reviews[0].picture.url(:thumb) %></div>
          <%= link_to menu_item.name, menu_item %><br/>
          by <a href="profile">nadine</a>
          ***** <!-- rating for picture?  for food? --><br/>
          <!-- todo: make this information only visible if you have admin privileges -->
          <%= link_to 'Edit', edit_menu_item_path(menu_item) %>
          <%= link_to 'Delete', menu_item, :confirm => "Are you sure you want to delete this menu item and all associated reviews?", :method => :delete %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div id="content-footer">
    <!-- todo: make this information only visible if you have admin privileges -->
    <p><%= link_to "New Review", new_menu_item_path(@restaurant) %></p>
    <p><%= link_to 'Edit', edit_restaurant_path(@restaurant) %></p>
    <p><%= link_to 'Back', restaurants_path %></p>
    <p><%= link_to 'Delete restaurant', @restaurant, :confirm => "Are you sure you want to delete this restaurant and all associated menu items and reviews?", :method => :delete %></p>

    <%= render :partial => "layouts/reporterror", :locals => {:is_restaurant => true } %>

  </div>

</div>
<!-- end right column on page -->
