<p id="notice"><%= notice %></p>

<p>
  <b>Stars:</b>
  <%= @review.stars %>
</p>

<p>
  <b>Description:</b>
  <%= @review.description %>
</p>

<p>
  <b>Menu item:</b>
  <%= @review.menu_item.name %>
</p>

<%= image_tag @review.picture.url(:medium) %>
<%= image_tag @review.picture.url(:thumb) %>
<hr>
<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', @review.menu_item %>
